<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Prijava</title>
<style>
    h1 {
        border: 2px solid black;
        text-align: center;
        padding: 20px;
    }

    form {
        text-align: center;
    }
</style>
</head>
<body>
    <h1>Prijava</h1>
    <form action="/prijava" method="post">
        <label> Ime: </label><br>
        <input type="text" name="ime" required><br><br>

        <label> Geslo: </label><br>
        <input type="password" name="geslo" required><br><br>

        <input type="submit" value="Prijavi se!">
    </form>
</body>
</html>