<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Registracija</title>
<style>
    h1 {
        border: 2px solid black;
        text-align: center;
        padding: 20px;
    }

    form {
        text-align: center;
    }
</style>
</head>
<body>
    <h1>Registracija</h1>

    <form action="/registracija" method="post">
        <label> Ime: </label><br>
        <input type="text" name="ime" required><br><br>

        <label> Priimek: </label><br>
        <input type="text" name="priimek" required><br><br>

        <label> Email: </label><br>
        <input type="text" name="email" required><br><br>

        <label> Geslo: </label><br>
        <input type="password" name="geslo" required><br><br>

        <input type="submit" value="Registriraj se!">
    </form> 

</body>
</html>